/core/code/db.sqlite3
/core/.venv/
/.pycache_tmp/
*.pyc
__pycache__
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/.gitignore
/.idea/codiiy.iml
/core/.cursor-cli/sessions.db
/run.local
